/* ---------- Begin of aboutus Page Styling ------------------ */
div{
	border: px solid black;  /*----------- Apply borders to DIV to see the layout.-----------*/
	
}

.social{
	padding-top:50px;
	text-align: center;
}
.social a{

	text-decoration: none;
	
	font-size: 30px;
	padding-right: 30px;

}


.outer{
	display:grid;
	grid-template-columns:repeat(6, 1fr);
	width:900px;
	margin:auto;
}

.outer div{
	
}

.upleft{
	grid-column-start:1;
	grid-column-end:3;

}

.box1{
	grid-column-start:3;
	grid-column-end:5;
	height:100px;
}

.social{
	grid-column-start:5;
	grid-column-end:7;

}

.box1 img{
	display:block;
	width:110px;
	margin:auto;
	margin-top:8px;
}

.box1 a{
	
}

/*.box1 ul
{
	display:grid;
	grid-template-columns:1fr 1fr 1fr;
	
}*/




	
/* Navigation bar styles */
.nav_links{
	grid-column-start:1;
	grid-column-end:7;
	display:grid;
	grid-template-columns:repeat(6, 1fr);
	height:70px;
	justify-items:center;
	align-items:center;
	display: flex;
    justify-content: space-around;
    background-color: #f2f2f2;
    padding: 10px;
	
}

.nav_links a{
		text-decoration:none;
		color: #3d5196;
}

.nav_links div{
	border:0;
}



.centered-box {
    text-align: center;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f0f0f0;
    grid-column-start: 1;
    grid-column-end: 8;
  }



.box10{
	grid-column-start:1;
	grid-column-end:7;
	height:100px;
}

.box11{
	grid-column-start:1;
	grid-column-end:7;
	height:100px;
}

.footer{
	grid-column-start:1;
	grid-column-end:7;
	
	display:grid;
	grid-template-columns:1fr 1fr 1fr;
	width:900px;
	margin:auto;
	
}

.footer div{
	

}

.footer_1{
	padding-left:20px;
}

.footer_2{
	padding-top:10%;
	text-align:center;
}

.footer_3 img{
	width:50px;
	padding-left:30px;
	padding-top:10%;
}

/* -------------------------------- End of aboutus Page Styling ------------------------------------------ */

